name: Main Debug

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  debug-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start SSH Session
        uses: mxschmitt/action-tmate@v3