name: Kiem Tra Code

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Lay code ve
        uses: actions/checkout@v4

      - name: Cai dat Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Cai thu vien (npm install)
        run: npm install

      - name: Thong bao thanh cong
        run: echo "Code ngon lanh! Khong co loi cu phap."